
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar {
  width: 300px;
  overflow: auto;
	height:calc(100% - 56px);
  float: left;
  border-right: 0px solid black;
  border: 1px solid black;
}
