
html, body, #container {
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 300px;
  overflow: auto;
	max-height:calc(100% - 56px);
  float: left;
}
#mapid {
  width: auto;
  overflow: hidden;
	min-height:calc(100% - 56px);
}

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
