@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, #container {
  height: 100%;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
