<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fleet Manager</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link p-2" href="https://github.com/DickChesterwood/istio-fleetman"><span class="fa fa-2x fa-github"></span></a>
    </li>
    <li>
      <a class="nav-link p-2" href="https://twitter.com/RichChesterwood"><span class="fa fa-2x fa-twitter"></span></a>
    </li>
    <li>
      <a class="nav-link p-2" href="http://blog.chesterwood.io"><span class="fa fa-2x fa-rss"></span></a>
    </li>
  </ul>
</nav>
